node_modules
.idea
tmp
.DS_store
iob_npm.done
admin/i18n/flat.txt
admin/static/media/*
admin/static/js/*
admin/i18n/*/flat.txt
admin/index_m.html
admin/favicon.ico
admin/static/css/*
admin/manifest.json
admin/asset-manifest.json
nbproject
/src-admin/package-lock.json
package-lock.json
build
*.map
devices
main.js

.dev-server
.vscode
/lib/devices/dist
