node_modules
.idea
tmp
.DS_store
iob_npm.done
admin/i18n/flat.txt
admin/assets/*
admin/static/media/*
admin/static/js/*
admin/i18n/*/flat.txt
admin/index_m.html
admin/favicon.ico
admin/static/css/*
admin/manifest.json
admin/asset-manifest.json
bproject
build
*.map
*.tgz

.dev-server
.vscode
/lib/devices/dist
/src-admin/node_modules/
/src-admin/build/
/src-admin/src/components/DeviceManagerDev
/src-admin/src/components/DeviceManagerDev/
/src-admin/src/components/DeviceManagerDev/*
/src-admin/src/components/DeviceManagerDev/i18n/
/src-admin/src/components/DeviceManagerDev/i18n/*
/admin/tab_m.html
test/*.test.js

#ignore .commitinfo created by ioBroker release script
.commitinfo
